body {
  background-color: #eaeaea;
}

.wrap {
  width: 100%;
  height: 100%
}

.left {
  float: left;
  width: 32%;
  height: 95%;
  margin: 1% 0 0 1%;
}

.right {
  float: right;
  width: 66%;
  height: 94%;
  margin: 0 1% 0 0;
  display: flex;
}

.top {
  display: flex;
  flex-direction: row;
  column-count: 2;
  margin: 0 0 3% 0;
}

.search {
  margin: auto;
  width: 66%;
}

.search h1 {
  margin: 1rem 0 0 0;
}

.search input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-size: large;
  border: 2px solid #f42f34;
}

#weather {
  margin: auto;
  text-align: center;
}

#list-stations {
  max-height: 85%;
  overflow-y: auto;
}

.card {
  width: 90%;
  min-height: 5rem;
  height: fit-content;
  margin: 1.5rem auto;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  border-radius: 7px;
  border: 2px solid #f42f34;
  transition: background-color .1s;
  transition: transform .1s;
  padding: .5rem 1.5rem;
  font-size: 14;
}

.bike-wrapper {
  display: flex;
  flex-direction: row;
}

.folium-map {
  margin: 2%;
  align-content: space-around;
  border: 2px solid #f42f34;
  border-radius: 5px;
}